body {
    background-color: rgb(232, 243, 243);
}

header {
    display: flex;
    background-color: rgb(201, 224, 242);
}

header a {
    margin: 12px 3px;
    padding: 3px;
    float: left;
    background-color: rgb(123, 69, 248);
    color: rgb(245, 245, 239);
    text-decoration: none;
}

a:hover {
    transform: scale(1.2);
    transition: 0.3s;
}

#logo {
  margin: 0;
}

nav {
    margin: 10px 10px;
    float: left;
}

header h1 {
    float: left;
    color: rgb(108, 51, 242);
    align-items: center;
    text-shadow: 2px 2px 2px rgb(213, 229, 236);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    margin: auto -3%;
}

#sug {
    color: rgb(108, 51, 242);
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    font-style: oblique;
}

#imagen img {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px auto;
    padding: 10px;
    max-width: 550px;
    max-height: 550px;
}

#prologo {
    text-align: center;
    display: block;
    margin: 60px 150px;
    font-size: 21px;
}

#rc {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 20px;
    font-size: 21px;
}

#rc a {
    background-color: rgb(123, 69, 248);
    color: rgb(245, 245, 239);
    text-decoration: none;
}

footer {
    background-color: rgb(201, 224, 242);
}

#redes {
    display: flex;
    align-items: center;
    justify-content: center;
}

#redes img {
    margin: 0 20px;
    justify-content: center;
    width: 18px;
    padding: 5px;
}

footer p {
    text-align: center;
    font-size: small;
    color: rgb(108, 51, 242);
}